<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Information</title>
  <link rel="stylesheet" type="text/css" href="/css/as-alert-message.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style-starter.css">
  <link rel="stylesheet" type="text/css" href="/css/changeInformation.css">
</head>

<body>
  <header id="site-header" class="w3l-header fixed-top">
    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
      <div class="container">
        <h1><a class="navbar-brand" href="/"><span class="fa fa-play icon-log" aria-hidden="true"></span>
          TTP Cinema </a></h1>
        <!-- if logo is image enable this   
                    <a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <span class="fa icon-expand fa-bars"></span>
          <span class="fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/booking">Booking History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>

          <!--/search-right-->
          <!--/search-right-->

          <!-- icon login -->
            <div class="Login_SignUp" id="login_s">
                <a class="nav-link" href="#" id="login_button"><i class="fa fa-user-circle-o" style="background-color: rgb(94, 94, 240);"></i></a>
                <div class="functions" id="login_functions">
                    <!-- Các chức năng bạn muốn hiển thị khi nhấp vào nút "Login" -->
                    <a href="/changeInformation">Change information</a>
                    <a href="/logout">Log out</a>
                </div>
            </div>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
      </div>
    </nav>
  </header>

  <!-- =================== Main =============== -->
  <div class="main">

    <div class="main-content">
        <div class="table-wrapper">

            <div class="table-title">
                <h2 style="color: red;">Information account</h2>
                <div>
                    <button class="btn btn-success" id="openUpdate" data-id="<%= user._id %>"
                        data-fullname="<%= user.name %>" data-email="<%= user.email %>"
                        data-role="<%= user.role %>">Update</button>

                    <button class="btn btn-success" id="openChangePW" data-id="<%= user._id %>">Change
                        password</button>
                </div>
            </div>

            <% if(errorMessage.length > 0) { %>
                <div id="errorMessageAlert" class="alert fade show" style="color: red; font-size: x-large; text-align: center;">
                    <%= errorMessage %>
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            <% } %>

            <% if(successMessage.length > 0) { %>
                <div id="successMessageAlert" class="alert fade show" style="color: rgb(45, 177, 45); font-size: x-large; text-align: center;">
                    <%= successMessage %>
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            <% } %>

            <div class="profile-info-container">
                <img src="/images/default.png" alt="User Avatar">
                <div class="profile-info-details">
                    <div>
                        <strong>Full Name:</strong> <span><%= user.name %></span>
                      </div>
                      <div>
                        <strong>Email:</strong> <span><%= user.email %></span>
                      </div>
                      <div>
                        <strong>Role:</strong> <span><%= user.role %></span>
                      </div>
                </div>
            </div>

        </div>

        <!-- Edit Modal -->
        <div class="modal" id="editEmployeeModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="/changeInformation/update-information">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Account</h5>
                            <span class="close" id="editEmployeeCloseBtn">&times;</span>
                        </div>
                        <div class="modal-body">
                            <input id="editId" type="text" name="id" style="display: none;">
                            <div class="form-group">
                                <label for="editFullName" style="color: black;">Full Name</label>
                                <input type="text" name="fullname" id="editFullName" class="form-control"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="editEmail" style="color: black;">Email</label>
                                <input type="email" name="email" id="editEmail" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                id="editEmployeeCancelBtn">Cancel</button>
                            <button type="submit" class="btn btn-success" id="editEmployeeSaveBtn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Change Password Modal -->
        <div class="modal" id="changePWModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="/changeInformation/change-password">
                        <div class="modal-header">
                            <h5 class="modal-title">Change Password</h5>
                            <span class="close" id="changePWCloseBtn">&times;</span>
                        </div>
                        <div class="modal-body">
                            <input id="changeId" type="text" name="id" style="display: none;">
                            <div class="form-group">
                                <label for="changePW" style="color: black;">New Password</label>
                                <input type="password" name="password" id="changePW" class="form-control"
                                    required>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                id="changePWCancelBtn">Cancel</button>
                            <button type="submit" class="btn btn-success" id="changePWBtn">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

  <script type="text/javascript" src="/js/as-alert-message.min.js"></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <!--/theme-change-->
  <script src="/js/theme-change.js"></script>
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });


    document.getElementById("login_button").addEventListener("click", function() {
		var loginFunctions = document.getElementById("login_functions");
		if (loginFunctions.style.display === "block") {
			loginFunctions.style.display = "none";
		} else {
			loginFunctions.style.display = "block";
		}
	});
  </script>
  <script src="/js/bootstrap.min.js"></script>



  <script>
    function showModal(modalId) {
        const modal = document.getElementById(modalId);
        modal.style.display = 'flex';
    }

    function closeModal(modalId) {
        const modal = document.getElementById(modalId);
        modal.style.display = 'none';
    }

    document.getElementById('openUpdate').addEventListener('click', function (event) {

        const employeeId = event.target.getAttribute('data-id');
        const employeeFullName = event.target.getAttribute('data-fullname');
        const employeeEmail = event.target.getAttribute('data-email');

        document.getElementById('editId').value = employeeId
        document.getElementById('editFullName').value = employeeFullName
        document.getElementById('editEmail').value = employeeEmail

        showModal('editEmployeeModal');

    });

    document.getElementById('editEmployeeCancelBtn').addEventListener('click', function () {
        closeModal('editEmployeeModal');
    });

    document.getElementById('editEmployeeCloseBtn').addEventListener('click', function () {
        closeModal('editEmployeeModal');
    });

    document.getElementById('openChangePW').addEventListener('click', function (event) {

        const changeId = event.target.getAttribute('data-id');

        document.getElementById('changeId').value = changeId

        showModal('changePWModal');

    });

    document.getElementById('changePWCancelBtn').addEventListener('click', function () {
        closeModal('changePWModal');
    });

    document.getElementById('changePWCloseBtn').addEventListener('click', function () {
        closeModal('changePWModal');
    });

    setTimeout(function() {
    var errorMessageAlert = document.getElementById('errorMessageAlert');
    var successMessageAlert = document.getElementById('successMessageAlert');
    if (errorMessageAlert) {
        errorMessageAlert.style.display = 'none';
    }
    if(successMessageAlert) {
        successMessageAlert.style.display = 'none';
    }
}, 2000);

</script>
</body>

</html>